.App {
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2018/04/28/22/03/tree-3358468_960_720.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}
