.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  min-width: 250px;
  /* margin: auto; */
  /* display: flex !important; */
  color: white;
  text-align: left !important;
}

.message__userCard {
  /* background-color: #0b81ff !important; */
  background-color: lightskyblue !important;
}

.message__guestCard {
  /* display: none; */
  background-color: #e9e9eb !important;
}
